 
.TodoItem{ 
  /* padding: .5em;  */
  display: flex; 
  align-items: center; 
  border: 1px dashed #aaa;
  margin: 10px auto;
  padding-left: 20px;
  font-size: 1.25em;
} 


.TodoItem>.title{ 
  flex-grow: 1; 
  padding: 0 .5em; 
}  


